@model NexusFlow.Web.Models.UserName
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Hi This i ERP</p>
<p>@Model.Name</p>
<p>@Model.Age</p>
<p>@Model.Address</p>
<p>@Model.Address</p>
<p>@Model.Age.Gender</p>

